@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* NavBar */
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #535353;
  z-index: 1;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}
#title {
  color: white;
  align-items: center;
}
#title span {
  font-family: "Fjalla One", sans-serif !important;
  font-size: 40px;
  color: #6c5ef0;
  margin-left: 20px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 100px;
  font-size: 18px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #6c5ef0;
}

/* Personal Statement*/
#personal {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: #1a1a1a;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 90px;
}
.personal-name {
  display: flex;
  font-size: 50px;
  color: white;
}
#first-let {
  font-family: "Fjalla One", sans-serif !important;
  font-weight: 400;
  font-size: 210px;
  color: #6c5ef0;
}
.box-p {
  width: 440px;
  height: 410px;
  background-color: #535353;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#personal-p {
  font-size: 22px;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: justify;
  line-height: 1.6;
}
#mypic {
  width: 460px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Resumebtn {
  background-color: #6c5ef0;
  border-radius: 12px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Resumebtn:hover {
  color: #6c5ef0;
  background-color: white;
  transition: 0.8s;
}
#Resumebtn:active {
  scale: (0.9);
}

/* Skill */
.skill-tools {
  width: 100%;
  height: 100%;
}
.skill {
  padding: 40px;
}
#skillH {
  text-align: center;
  color: black;
  font-size: 50px;
  padding: 30px;
}
.skill-icon {
  display: flex;
  justify-content: center;
}
.skill-icon img {
  margin: 30px;
  margin-bottom: 10px;
  height: 105px;
}
.skill-icon figcaption {
  text-align: center;
  font-weight: 700;
}
.tools {
  padding: 40px;
}
#toolsH {
  text-align: center;
  color: black;
  font-size: 50px;
  padding: 30px;
}
.tools-icon {
  display: flex;
  justify-content: center;
}
.tools-icon img {
  margin: 30px;
  margin-bottom: 10px;
  height: 105px;
}
.tools-icon figcaption {
  text-align: center;
  font-weight: 700;
}

/* Project */
#project-section {
  background-color: #1a1a1a;
  padding-bottom: 60px;
  border-bottom: 2px solid white ;
}
#project {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 55px;
}
.project-box {
  display: flex;
  justify-content: space-evenly;
}
.project1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6c5ef0;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project1 h1 {
  font-size: 30px ;
  margin-bottom: 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}
.project1 a{
text-decoration: none;
transition: 0.3s;
}
.project1 p {
  color: white;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:10px ;
  line-height: 1.6;
  font-size: 22px;
  
}
.project1 img {
  width: 470px;
  border-radius: 8px;
}

.project1 a:hover {
  text-shadow: lightgrey 1px 1px 5px; transform: none;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.08);
}
.project1:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.02);
}

.project2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6c5ef0;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project2 h1 {
  font-size: 30px ;
  margin-bottom: 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}
.project2 a{
text-decoration: none;
transition: 0.3s;
}
.project2 p {
  color: white;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:10px ;
  line-height: 1.6;
  font-size: 22px;
  
}
.project2 img {
  width: 470px;
  border-radius: 8px;
}

.project2 a:hover {
  text-shadow: lightgrey 1px 1px 5px; transform: none;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.08);
}
.project2:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.02);
}

.project3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6c5ef0;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project3 h1 {
  font-size: 30px ;
  margin-bottom: 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}
.project3 a{
text-decoration: none;
transition: 0.3s;
}
.project3 p {
  color: white;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:10px ;
  line-height: 1.6;
  font-size: 22px;
  
}
.project3 img {
  width: 470px;
  border-radius: 8px;
}

.project3 a:hover {
  text-shadow: lightgrey 1px 1px 5px; transform: none;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.08);
}
.project3:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.02);
}

/*Contact*/

#contact{
  background-color: #1a1a1a;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}
#contactH {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 30px;
}
.contact-box{
  display: flex;
  margin: 50px;
  justify-content: space-between;
}
.contact-left{
  color: white;
}
.contact-left h1{
  margin-bottom: 20px;
}
.contact-left p{
  margin-bottom: 8px;
}
.contact-right img{
  margin: 10px;
  width: 70px;
  background-color: white;
  border-radius: 10px;
}



/* Responsive */
@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .nav {
    display: none;
  }

  /* Personal */
  #personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding-top: 10px;
    padding-bottom: 90px;
  }
  .personal-name {
    font-size: 30px;
    color: white;
    margin-left: 80px;
  }
  #first-let {
    font-family: "Fjalla One", sans-serif !important;
    font-weight: 400;
    font-size: 130px;
    color: #6c5ef0;
  }
  .box-p {
    width: 89%;
    height: 56vh;
    background-color: #535353;
    border-radius: 20px;
    margin: 20px;
  }

  #mypic {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #Resumebtn {
    background-color: #6c5ef0;
    border-radius: 12px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #Resumebtn:hover {
    color: #6c5ef0;
    background-color: white;
    transition: 0.8s;
  }
  #Resumebtn:active {
    scale: (0.9);
  }

  /* Skill */
  .skill {
    padding: 40px;
  }
  #skillH {
    text-align: center;
    color: black;
    font-size: 50px;
  }
  .skill-icon {
    display: grid;
    text-align: center;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px 150px;
  }
  .skill-icon img {
    margin: 30px;
    margin-bottom: 10px;
    height: 70px;
  }
  .skill-icon figcaption {
    text-align: center;
    font-weight: 700;
  }
  #toolsH {
    text-align: center;
    color: black;
    font-size: 50px;
    padding: 20px;
  }
  .tools-icon {
    display: grid;
    text-align: center;
    grid-template-columns: 150px 150px;
    grid-template-rows:  150px 150px;
  }
  .tools-icon img {
    margin: 30px;
    margin-bottom: 10px;
    height: 70px;
  }
  .tools-icon figcaption {
    text-align: center;
    font-weight: 700;
  }

  #project-section {
    background-color: #1a1a1a;
    padding-bottom: 60px;

  }
  #project {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 55px;
  }
  .project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c5ef0;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .project1 h1 {
    font-size: 22px ;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }
  .project1 a{
  text-decoration: none;
  transition: 0.3s;
  }
  .project1 p {
    color: white;
    text-align: justify;
    padding-left: 20px;
    padding-right: 2px;
    margin-top:10px ;
    line-height: 1.6;
    font-size: 18px;
    
  }
  .project1 img {
    width: 300px;
    border-radius: 8px;
  }
  
  .project1 a:hover {
    text-shadow: lightgrey 1px 1px 5px; transform: none;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.08);
  }
  .project1:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
  }
  
  .project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c5ef0;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .project2 h1 {
    font-size: 20px ;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }
  .project2 a{
  text-decoration: none;
  transition: 0.3s;
  }
  .project2 p {
    color: white;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:10px ;
    line-height: 1.6;
    font-size: 18px;
    
  }
  .project2 img {
    width: 300px;
    border-radius: 8px;
  }
  
  .project2 a:hover {
    text-shadow: lightgrey 1px 1px 5px; transform: none;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.08);
  }
  .project2:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
  }
  
  .project3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c5ef0;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .project3 h1 {
    font-size: 20px ;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }
  .project3 a{
  text-decoration: none;
  transition: 0.3s;
  }
  .project3 p {
    color: white;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:10px ;
    line-height: 1.6;
    font-size: 18px;
    
  }
  .project3 img {
    width: 300px;
    border-radius: 8px;
  }
  
  .project3 a:hover {
    text-shadow: lightgrey 1px 1px 5px; transform: none;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.08);
  }
  .project3:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
  }
}
